@font-face {
  font-family: "Kimberley";
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

.header {

    background-color: black;

}

h1 { 
    font-family: "Kimberley", sans-serif; 
    color: red;
    margin: 0 20%;
    padding: 30px 0px 30px 0px;
    position: relative ;
    ;
}

.nav {
    background-color: #efefef;

}

.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 14px;
  margin-top: 14px;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  background-color: #efefef;
}

h2 {
    margin:0 20%;
}

p {
    width:70%;
    padding: 20px 10%;
    margin:0 10%;
}



footer{
    padding:10px;
    text-align: center;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 600px) {
/*only applies if window is 600px or less*/
    section#main{
        width:100%;
        float:none;
        text-align:center;
    }
    #form{
        width:100%;
        float:none;
        text-align:center;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
