<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title>SportsHub | Home </title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/sportshub_style.css">
	</head>

	<h1>SportsHub</h1>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            
            <form id = "form" action="#">
                <label>Username</label>
                    <input type="text" id="name" placeholder="Username">
                <label>Password</label>
                    <input type="text" id="password" placeholder="Password">
            </form>
        </ul>
    </nav>
    
    <body>
    
        <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae neque quis nulla vehicula faucibus eu et sapien. Donec commodo luctus elit condimentum aliquam. Vivamus dui nibh, dictum vitae risus non, varius ornare massa. Nulla bibendum id mi ac blandit. Praesent feugiat pharetra auctor. Duis mattis congue dictum. Curabitur molestie euismod tortor, eu luctus est mollis quis. In ornare dui et pellentesque suscipit. Mauris nisl arcu, rutrum nec ultrices vel, accumsan vel justo. Vestibulum non leo cursus risus facilisis condimentum. Nulla sit amet gravida quam, in porta purus. In ornare eros ac quam rutrum imperdiet. Nunc et ligula non leo lobortis porta.
        </p>
        <br>
        <h2>Aliquam Adipiscing Tristique</h2>
        
        <p>
Aliquam adipiscing tristique mauris ut tempus. Morbi tempus ante est. Nullam sed felis sodales arcu ornare vehicula ac eu arcu. Cras ut nunc magna. Mauris bibendum est quis tempor elementum. Vivamus venenatis lectus tempus, vehicula libero vitae, vulputate quam. Donec lacinia est ut lectus pharetra, eu tincidunt turpis tristique. Donec sed lectus imperdiet, mattis enim et, egestas leo.
<br>
Maecenas vulputate felis eget enim tincidunt accumsan. Mauris eu dui auctor odio malesuada congue vitae sit amet metus. Cras vehicula ipsum nec sapien dictum pharetra. In pretium dapibus massa id cursus. In sit amet dictum dui, tempus convallis tellus. Sed aliquam justo sed leo fringilla, a semper ligula fermentum. Praesent sagittis mauris eget sem pellentesque, sed hendrerit elit convallis. Curabitur placerat erat at nunc tempus congue. Vivamus egestas egestas mi, consequat ullamcorper justo consequat in. Pellentesque sed egestas risus, ut semper nunc. Phasellus tempor, elit a vehicula molestie, urna urna tempor orci, at laoreet augue nulla ac nulla. 
        </p>
    
    
    </body>
    
    
    <footer>Glass Prism, LLC 2014</footer>
</html>

</html>